@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #EDE9E6;
  --foreground: #171717;
}


/* Dark mode class (toggled by next-themes) */
.dark {
  --background: #0a0a0a;
  --foreground: #EDE9E6;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}